body {
    background-image: url('image1.avif');
    background-size: 1300px;
}    

div {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(255, 74, 74);
}
